<footer class="footer">
  <div class="content has-text-centered">
    <p>         
                Credits(API: omdbapi) 
                Created By: <strong>&copy;Raghuram</strong>.  &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="http://raghurambachu.github.io/"><i class="fas fa-user-tie"></i></a>
                <a href="https://github.com/raghurambachu"><i class="fab fa-github-square"></i></a>
                <a href="https://www.linkedin.com/in/raghurambachu"><i class="fab fa-linkedin"></i></a>
    </p>
  </div>
</footer>