<header>
                <nav class="navbar navigation" role="navigation" aria-label="main navigation">
                        <div class="navbar-brand">
                                <a class="navbar-item" href="/">
                                        
                                        Movie Mania &nbsp;&nbsp;
                                        <i class="fas fa-film fa-2x icon-film"></i>
                                </a>

                        </div>
                </nav>  
        </header>